.borderBottom {
  /* border-bottom: 3px solid #0282bd; */
  border-bottom: 5px solid blue;
  width: 100px;
  margin: 5px auto;
  border-radius: 10px;
}
.heading {
  width: fit-content;
  margin: auto;
  /* color: #8993b1; */
  color: black !important;
  line-height: 40px;
}
.text {
  text-align: justify;
  /* padding: 1rem; */
  font-size: 16px;
}
.project-image img {
  height: 300px;
  width: 500px;
  margin-top: 20px;
}
.button-link {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.shadoww {
  -webkit-box-shadow: 5px 5px 15px 5px #515151;
  box-shadow: 5px 5px 15px 5px #515151;
}

/* ====================================================== */
.Download-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 20px;
  color: white;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.Download-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #3b82f6;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.Download-button:active {
  box-shadow: 0 0.3em 1em -0.5em #3b82f6;
}

.Download-button::before {
  content: "";
  width: 4px;
  height: 40%;
  background-color: white;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.Download-button::after {
  content: "";
  width: 4px;
  height: 40%;
  background-color: white;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
  height: 60%;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.Download-button:hover::before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: translate(5px, -15px) rotate(45deg);
}

.Download-button:hover::after {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transform: translate(-5px, 15px) rotate(45deg);
}

@media only screen and (max-width: 1150px) {
}
@media only screen and (max-width: 990px) {
  .Project-name {
    margin-top: 12px;
  }
  .button-link {
    justify-content: space-between;
    padding: 0px;
  }
  .project-image img {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 450px) {
  .project-image img {
    height: 200px;
    width: 350px;
    margin-top: 0px;
    padding: 10px;
  }
  .button-link {
    justify-content: space-between;
    padding: 0px;
  }
  .shadoww {
    width: 90%;
  }
}
