.logostyle {
    margin-left: 50px;
}
.text_size{
  font-size: 30px;
}
.bg{
  /* background-color: white !important; */
  background-color: rgb(234, 236, 236);

}


@media screen and (max-width: 990px) {
    
    .logostyle{
        margin-left: 10px;
    }
  }
  

  .links a:hover {
    /* color: #00a0a0; */
    /* color: rgb(6, 6, 49); */
    color: rgb(6, 6, 131);
  }
  .links a{
    /* text-shadow: 2px 2px 4px rgba(247, 7, 7, 0.5); */
    text-shadow: 1px 2px 2px #767979;


  }
  .links a::after {
    content: "";
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background:  linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    /* background: blue; */
    /* background: #00a0a0; */
    transition: width 0.4s;
  }
  .links a:hover::after {
    width: 100%;
  }