.logostyle {
    margin-left: 50px;
}
.text_size{
  font-size: 30px;
}
.bg{
  background-color: white !important;
}

@media screen and (max-width: 990px) {
    /* body {
      background-color: lightgreen;
    } */
    .logostyle{
        margin-left: 10px;
    }
  }
  
  /* Navlink Hover Effect */
  
  /* .Hover_over:hover{
    border-bottom: 3px solid yellow;
    transition-property: all 0.3s ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  * {
    box-sizing: border-box;
  } */

  .links a:hover {
    /* color: #00a0a0; */
    /* color: rgb(6, 6, 49); */
    color: blue;
  }
  .links a::after {
    content: "";
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background:  linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    /* background: blue; */
    /* background: #00a0a0; */
    transition: width 0.4s;
  }
  .links a:hover::after {
    width: 100%;
  }