body{
  font-family: "Roboto Mono", monospace;
  background-color: rgb(234, 236, 236);
  /* background-image: url("./Components/Images/Back.jpg"); */
  /* background-size: cover; */
  /* opacity: 1; */

}
 

  /* This CSS ensures smooth scrolling behavior */
  html {
    scroll-behavior: smooth;
  }

  /* App.css */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Other styles for your app */
